/* @font-face {
  font-family: "Menlo";
  src: url();
} */

:root {
  --main-color: #f5f5f5;
  --secondary-color: white;
  --tertiary-color: rgb(221, 221, 221);
  --text-color: black;
  --default-font: "IBM Plex Mono", monospace;
  --svg-invert: invert(0%);
  --png-green: none;
}

::placeholder {
  color: var(--text-color);
  opacity: 0.3;
}

body {
  margin: 0;
  /* font-family: "Open Sans", sans-serif; */
  font-family: var(--default-font);
  font-size: 17px;
  background-size: cover;
  background-color: var(--main-color);
  color: var(--text-color);
  transition: background 0.5s;
  /* background-image: url("assets/hubble.jpg"); */
}

textarea {
  font-family: var(--default-font);
  background-color: var(--secondary-color);
  color: var(--text-color);
  resize: none;
  /* text-align: center; */
}

button {
  font-family: var(--default-font);
  background-color: var(--secondary-color);
  color: var(--text-color);
}

input {
  font-family: var(--default-font);
  background-color: var(--secondary-color);
  color: var(--text-color);
}

img {
  max-width: 30rem;
  height: auto;
}
.CFlogo {
  filter: var(--png-green);
}

.topBar {
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  padding: 1%;
  background-color: var(--secondary-color);
}

.topBarText {
  color: var(--main-color);
  margin: auto;
}

a.topBarText:visited {
  color: var(--text-color);
}

a.topBarText {
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.CFlogoHolder {
  width: 3%;
}

.CFlogo {
  width: 100%;
}

.eye__svg {
  -webkit-filter: var(--svg-invert); /* safari 6.0 - 9.0 */
  filter: var(--svg-invert);
}

.dark-mode {
  --main-color: #121212;
  --secondary-color: #252525;
  --tertiary-color: rgb(58, 58, 58);
  --text-color: #33ff33;
  --svg-invert: invert(100%);
  --png-green: invert(82%) sepia(59%) saturate(2290%) hue-rotate(61deg)
    brightness(101%) contrast(101%);
  /* --text-color: rgb(223, 223, 223); */
  /* --text-color: rgba(54, 255, 28, 0.781); */
  /* --text-color: rgb(255, 255, 255); */
}

.fadeInAnimated {
  opacity: 0;
  animation: fadeIn 2.5s forwards;
}

.profile {
  /* font-family: menlo; */
  color: var(--secondary-color);
  background-color: black;
  width: 40%;
  height: 10%;
  margin-left: 4%;
  margin-top: 5%;
  padding: 1%;
  /*border:1vmin solid black;*/
}

.forum {
  /* font-family: menlo; */
  background-color: var(--secondary-color);
  width: 50%;
  height: 10%;
  margin-left: 3%;
  margin-top: 2%;
  padding: 1%;
  /*border: 1vmin solid black;*/
  /*padding-bottom: 1%;*/
}

.insideForum {
  /* font-family: menlo; */
  width: 80%;
  height: 10%;
  margin-top: 0%;
  margin-left: 6%;
  background-color: var(--main-color);
  padding: 0.5%;
  line-height: 1%;
}

.comment__container {
  border-bottom: 1px dotted rgb(104, 104, 104);
}

.key__container {
  display: inline-flexbox;
}

.key__textbox {
  display: inline-block;
  align-items: center;
  vertical-align: 12%;
  border: none;
  border-radius: 5px;
  background: var(--secondary-color);
  height: 4rem;
  width: 20rem;
  text-align: center;
  /*border-radius: 0.5rem; */
  font-size: 20px;
}

.btn__hide {
  font-size: 1.5rem;
  text-align: center;
  align-self: center;
  vertical-align: center;
  border: none;
  background: none;
  transition: all 0.2s;
}

.btn__hide:hover {
  transform: scale(1.1);
}

.comment__header {
  /* background-color: rgb(223, 223, 223); */
  font-size: 10px;
  font-style: italic;
}

.btn__reply {
  font-style: normal;
  font-size: 0.6rem;
}

/* .comment__body {
  background-color: rgb(241, 241, 241);
} */

.date {
  display: flex;
  flex: 2, 1;
  justify-content: space-between;
  background-color: var(--secondary-color);
  margin-left: 1%;
  width: 30%;
  padding-left: 1%;
}

.likes {
  /*float: right; */
  position: relative;
  background-color: white;
  color: black;
  margin-left: 3%;
  width: 8%;
  height: 5%;
  padding: none;
}

.key__container {
  position: fixed;
  align-content: center;
  margin-left: 60%;
  /* background-color: var(--tertiary-color); */
  /* top: 5%; */
}
.options__header {
  margin-top: 2%;
}
.button {
  /* padding-top: 0.5rem;
  padding-bottom: 0.5rem; */
  padding: 0.5rem;
  /* margin-left: 5%; */
  align-self: center;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
}
.create__forum__btn {
  margin-left: 5%;
}

.comment__textbox {
  border: none;
  background-color: var(--tertiary-color);
  width: 100%;
}

.button:hover {
  background-color: var(--tertiary-color);
}
.button:active {
  background-color: var(--tertiary-color);
}
.darktheme:hover {
  transform: scale(1.3);
}
.darktheme {
  margin-left: 3%;
  border-radius: 10%;
  border-width: 1rem;
  font-size: large;
  border: none;
  background: none;
  transition: all 0.2s;
}

.darkmodeHolder {
  position: relative;
  display: inline-flex;
  margin-left: 10%;
  background-color: var(--secondary-color);
  padding: 1%;
}

.darkmodeText {
  margin: auto;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*------------------------------------------------------------------------*/

.commentBoxDiv {
  display: inline-block;
  justify-content: center;
  /* background-color: var(--main-color); */
  /* margin-top: 4%;
  margin-left: 4%; */
  margin-top: 4%;
}

.postKey {
  display: inline-block;
  position: relative;
  /* margin-bottom: -10rem; */
}

.menu {
  display: fixed;
  position: fixed;
  top: 5%;
  right: 2%;
  width: 9%;
  cursor: pointer;
}

.menu:hover {
  filter: invert(40%);
  /*background-color: black;*/
}

.submenuText {
  background-color: grey;
  color: white;
  text-align: center;
  padding: 1vmin;
}

#submenu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 6%;
  right: 11%;
}

.hider {
  overflow: hidden;
}

.hider #submenuText {
  display: block;
}

.formatHexIndent {
  margin-left: 5%;
}

/*restyled forum post title*/
/*-----------------------*/

.posterInfo {
  position: relative;
  display: block;
  margin-left: 3%;
  margin-top: 3%;
  background-color: var(--secondary-color);
  width: 50%;
  /*padding: 1%;*/
  padding-bottom: 0.5%;
  padding-left: 2%;
}

.posterUser {
  padding-top: 3%;
  padding-left: 5%;
}
